*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background:rgb(29, 29, 29);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    box-shadow: 12px 10px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.box::before{
    content:"";
    background-image:conic-gradient(rgb(134, 5, 5) 20deg, transparent 120deg);
    width:150%;
    height:150%;
    position:absolute;
    animation: rotate 5s infinite linear;
}
.box::after{
    content: "Animated border";
    position: absolute;
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(110, 9, 9);
    font-size: large;
    background:#101010;
    border-radius: 10px;

}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}